<section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="media/WhatsApp Image 2022-08-23 at 2.29.17 PM.jpeg" alt="" id="logofooter">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo quos corporis est deleniti labore quam maiores, molestiae veritatis ad mollitia?</p>
        </div>
          <div class="col-md-4">
            <h2>Indo infra project LTD.</h2>
            <p><span><i class="bi bi-building"></i></span>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste eum neque, repellendus cumque voluptate quibusdam!</p>
            <p><span><i class="bi bi-telephone"></i></span>+124-45679935790</p>
            <p><span><i class="bi bi-phone"></i></span>7654321987</p>
          </div>
            <div class="col-md-4">
              <h2>Query Form</h2>
              <form action="">
                <input type="email"  name="" id="" class="form-control">
                <textarea name="" id="" class="form-control mt-2 mp-2"></textarea>
                <button type="submit" class="btn btn-success form-control">Post Query</button> 
              </form>
            </div>

            
          
        
      </div>
    </div>
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <img src="media/WhatsApp Image 2022-08-23 at 6.07.44 PM (1).jpeg" alt="">
          <img src="media/WhatsApp Image 2022-08-23 at 6.07.44 PM.jpeg" alt="">
          <img src="media/WhatsApp Image 2022-08-23 at 6.07.45 PM.jpeg" alt="">
          <img src="media/WhatsApp Image 2022-08-23 at 6.07.45 PM (1).jpeg" alt="">
        </div>
      </div>
    </div>
  </section>