<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>password change link below</h2>
    <form action="/forgotlinkrecord/<%=user%>" method="post">
        <label for="">New password</label>
        <input type="text" name="npassword" id="" class="form-control">
        <button type="submit" class="form-control btn btn-success">Change password</button>
    </form>
</body>
</html>