<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@1&family=BhuTuka+Expanded+One&family=Mouse+Memoirs&family=Noto+Sans+JP:wght@100&family=Roboto:ital,wght@1,300&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <%- include('../partials/header.ejs')%>
    <section id="banner" class="pt-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h4>Banner Tittle</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit harum commodi enim consequuntur illo voluptatibus nostrum suscipit rerum perspiciatis labore!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ea vel quos laudantium architecto exercitationem impedit sunt id? Ad, vero.</p>
            <button claa="btn btn-success">More Details</button>
          </div>
          <div class="col-md-6">
            <img src="media/Doraemon-Pics-Images.png" class="img-fluid mx-auto d-block" alt="" id="bannerimg">
          </div>

        </div>
      </div>
 
    </section>
    <section id="about" class="pt-3">
      <div class="container">

        <h2 class="text-center">About Us</h2>
      <div class="row">

      
      <div class="col-md-4">
        <img src="media/istockphoto-1339912221-170667a.jpg" alt="">
        <h4>Service1 Tittle</h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus aliquid dolorum ex.</p>
      </div>
      <div class="col-md-4">
       <img src="media/istockphoto-1339912221-170667a.jpg" alt="">
        <h4>Service1 Tittle</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, quis magnam. Laudantium aliquid excepturi fugit!</p>
      

      </div>
      <div class="col-md-4">
        <img src="media/istockphoto-1339912221-170667a.jpg"alt="">
        <h4>Service1 Tittle</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum repudiandae error voluptatum veniam cum quis.</p>
      </div>
      </div>
      </div>
    </section>
    <section id="testi" class="pt-3 pb-3">
    <div class="container">
      <h2 class="text-center">Testinominals</h2>
    <div class="row">
    <div class="col-md-3">
      <img src="media/istockphoto-1339912221-170667a.jpg" src="">
      <p><span><i class="bi bi-quote"></i></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit culpa iste illum sequi, consequatur voluptate!<span><i class="bi bi-quote"></i></span></p>
      <p>IBM INDIA PVT LTD</p>
    </div>
    <div class="col-md-3">
      <img src="media/istockphoto-1339912221-170667a.jpg" src="">
      <p><span><i class="bi bi-quote"></i></span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ea optio quasi amet dolorem in deserunt labo voluptate.<span><i class="bi bi-quote"></i></span></p>
      <p>IBM INDIA PVT LTD</p>
    </div>
    <div class="col-md-3">
      <img src="media/istockphoto-1339912221-170667a.jpg" src="">
      <p><span><i class="bi bi-quote"></i></span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis nulla deleniti omnis quo eos sapiente.span<span><i class="bi bi-quote"></i></span></p>
      <p>IBM INDIA PVT LTD</p>
    </div>
    <div class="col-md-3">
      <img src="media/istockphoto-1339912221-170667a.jpg" src="">
      <p><span><i class="bi bi-quote"></i></span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis nulla deleniti omnis quo eos sapiente.span<span><i class="bi bi-quote"></i></span></p>
      <p>IBM INDIA PVT LTD</p>
    </div>
      </div>
    </div>
    
     

    </section>
   <%- include('../partials/footer.ejs')%>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>