<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@1&family=BhuTuka+Expanded+One&family=Mouse+Memoirs&family=Noto+Sans+JP:wght@100&family=Roboto:ital,wght@1,300&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <%- include('../partials/header.ejs')%>
    <section id="banner" class="pt-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
           
            
          </div>
          <div class="col-md-6">
         
          </div>

        </div>
      </div>
 
    </section>

   <section id="reset">
    
      <div class="container">
      <div class="row">
      <div class="col-md-12">
      <form action="/resetrecord" method="post">
      <label for="">Current password</label>
      <input type="text" name="cpass" id="" class="form-control">
      <label for="">New password</label>
      <input type="text" name="npass" id="" class="form-control">
      <button type="submit" class="form-control btn btn-success mt-2 mb-2">Reset</button>
    </form>
  </div>
</div>
</div>

   </section>
   
    
   <%- include('../partials/footer.ejs')%>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>